html{
    text-align: center;
    background-color:#aedddd;
}
#titulo1{
    display: inline-block;
    float:inherit;
    width: 74%;
    border: double;
    text-align: center;
    margin: 30px;
    color:#f3a8c2;
}
#titulo2{
   text-align: center;
    float: inherit;
    width: 74%;
    display: inline-block;
    margin: 30px;
    color:#f3a8c2;
}