html{
    background-color:#aedddd;
}
#peli{
    column-count: 1;
}
#titulo1{
    display: inline-block;
    float:inherit;
    width: 74%;
    border: double;
    text-align: center;
    margin: 30px;
    color:#f3a8c2;
    font-size: 50px;
}